<!DOCTYPE html>
<html>
    <head>
    
    <head>
    <body>
       <% date = Date.today.strftime("%A, %B %d, %Y")%> 
       <p><%= "The date is " + date.to_s %></p>
       <%# <% if 1 == 2 % %>
    <body>
<html>